/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

.head {
  width: 100%;
  height: 100%;
  margin-top: -205px;
  max-height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 4px solid lightseagreen;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid lightseagreen;
  margin-top: -120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


html {
  width: auto;
  height: auto;
  display: block;
}

.text {
  text-align: center;
  padding: 10px 30px 5px 30px;
}

h1 {
  font-family: 'Comic Neue', cursive;
  font-size: 130%;
}

h2 {
  font-family: 'Dancing Script', bold, cursive;
  line-height: 2.8;
  font-size: 130%;
}

p{
  font-family: 'Vollkorn', serif;
}

ul {
  list-style-type: none;
  padding: 20px;
  margin-top: -35px;
  text-align: center;
}

li {
  display: inline-block;
}

body {
  background-color: beige;
}

a {
  color: darkturquoise;
  margin: 20px;
  font-size: 25px;  
}
